

/* ———————————————————————Product——————————————————————————————— */
section{
  width: 960px;
  margin: auto;
  text-align: center;
  position: relative;
  padding-bottom: 100px;
}
.product:before{
  content:'';
  display: block;
  width: 770px;
  height: 330px;
  background-image: linear-gradient(#e4d9d7, transparent);
  -webkit-clip-path:polygon(0% 0%, 100% 0%, 75% 100%, 25% 100%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: -1;
}
h2.title{
  display: inline-block;
  padding: 50px 24px 45px;
  position: relative;
}
.title:before{
  content:'';
  display: block;
  width: 65px;
  height: 1px;
  background-color: #616161;
  opacity: 0.4;
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
}
.title:after{
  content:'';
  display: block;
  width: 65px;
  height: 1px;
  background-color: #616161;
  opacity: 0.4;
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
}










/* ———————————————————————diy——————————————————————————————— */
.step{
  height: 440px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.step1{
  align-self: flex-start;
  position: relative;
}
.step2{
  align-self: flex-end;
  position: relative;
}
.step img{
  width: 200px;
  vertical-align: bottom;
}
.step_desc{
  display: inline-block;
  width: 230px;
  padding: 60px 10px 12px;
  text-align: left;
}
.step_desc p{
  padding-top: 32px;
}
.step1::before{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #616161;
  border-radius: 50%;
  position: absolute;
  right: -31px;
  top: 27%;
}
.step1:after{
  content: '';
  display: block;
  width: 1px;
  height: 138%;
  background-color: #616161;
  position: absolute;
  right: -27px;
  top: 27%;
}
.step2::before{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #616161;
  border-radius: 50%;
  position: absolute;
  left: -31px;
  top: 85%;
}
.startButton{
  padding-top: 20px;
}
.startButton a{
  display: block;
  margin: auto;
  line-height: 60px;
  width: 130px;
  height: 50px;
  border-radius: 65px;
  background-color: #584f52;
}
















/* ———————————————————————deco——————————————————————————————— */
.decoitem{
  height: 815px;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  text-align: left;
  overflow: hidden;
}
.decoitem img{
  width: 100%;
}
.decoitem_inside{
  position: relative;
  overflow: hidden;
}
.decoitem1{
  grid-row: 1/3;
  grid-column: 1/3;
  background-image: url(../images/event01.jpg);
  background-size: cover;
}
.decoitem2{
  grid-row: 1/2;
  grid-column: 3/4;
  background-image: url(../images/event02.jpg);
  background-size: cover;
}
.decoitem3{
  grid-row: 2/3;
  grid-column: 3/4;
  background-image: url(../images/event03.jpg);
  background-size: cover;
}
.decoitem4{
  grid-row: 1/3;
  grid-column: 4/-1;
  background-image: url(../images/event04.jpg);
  background-size: cover;
}
.decoitem5{
  grid-row: 3/5;
  grid-column: 1/2;
  background-image: url(../images/event05.jpg);
  background-size: cover;
}
.decoitem6{
  grid-row: 5/-1;
  grid-column: 1/2;
  background-image: url(../images/event06.jpg);
  background-size: cover;
}
.decoitem7{
  grid-row: 3/4;
  grid-column: 2/3;
  background-image: url(../images/event07.jpg);
  background-size: cover;
}
.decoitem8{
  grid-row: 3/4;
  grid-column: 3/4;
  background-image: url(../images/event08.jpg);
  background-size: cover;
}
.decoitem9{
  grid-row: 4/-1;
  grid-column: 2/4;
  background-image: url(../images/event09.jpg);
  background-size: cover;
}
.decoitem10{
  grid-row: 3/5;
  grid-column: 4/-1;
  background-image: url(../images/event10.jpg);
  background-size: cover;
}
.decoitem11{
  grid-row: 5/-1;
  grid-column: 4/-1;
  background-image: url(../images/event11.jpg);
  background-size: cover;
}
.deco_font{
  background-color: #575555;
  opacity: 0.5;
  padding: 10px;
  position: absolute;
  transition: 0.5s;
  width: 100%;
  box-sizing: border-box;
}
.deco_position1{
  -ms-transform: translateY(285px);
  -webkit-transform: translateY(285px);
  transform: translateY(285px);
}
.deco_position2{
  -ms-transform: translateY(120px);
  -webkit-transform: translateY(120px);
  transform: translateY(120px);
}
.deco_font p{
  padding-top: 10px;
}
.decoitem1:hover .deco_position1,
.decoitem9:hover .deco_position1{
  -ms-transform: translateY(250px);
  -webkit-transform: translateY(250px);
  transform: translateY(250px);
}

















/* ———————————————————————workshop——————————————————————————————— */
.workshopType{
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.oneDayWorkshop{
  display: flex;
  justify-content: flex-start;
}
.oneDayWorkshop .workshop_desc{
  padding-top: 68px;
}
.workshopImg{
  width: 35%;
  font-size: 0;
}
.workshopImg img{
  width: 100%;
}
.workshop_desc{
  width: 320px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: left;
}
.workshop_desc p{
  padding-top: 15px;
  padding-bottom: 15px;
}
.longTermWorkshop{
  display: flex;
  justify-content: flex-end;
}
.longTermWorkshop .workshop_desc{
  padding-top: 30px;
}
.workshopType::after{
  content: '';
  display: block;
  width: 680px;
  height: 230px;
  border: 2px solid #584f52;
  position: absolute;
  z-index: -1;
}
.oneDayWorkshop::after{
  top: 23%;
  left: 5%;
}
.longTermWorkshop::after{
  top: 7%;
  right: 5%;

}